<footer class="py-5" id="footer-main">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2023 Face-Trace Attendance System
                </div>
            </div>
            
        </div>
    </div>
</footer>