<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/sidenav.css" type="text/css">
    <script src="/assets/js/sidenav.js"></script>
    <script src="/assets/js/classDetails.js"></script>
</head>
<!-- Sidenav -->
<div class="overlay"></div>
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header mt-5 align-items-center">
            <img src="/assets/img/facetrace.png" width="80%">
        </div>
        <div class="navbar-inner mt-8">
            <!-- Collapse -->
            <div class="" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a {{# ifCond title '==' "Dashboard" }} class="nav-link active" {{else}} class="nav-link"
                            {{/ifCond}} href="/user/dashboard">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a {{# ifCond title '==' "Classes" }} class="nav-link active" {{else}} class="nav-link"
                            {{/ifCond}} href="/classroom/teacher-classrooms">
                            <i class="ni ni-bullet-list-67 text-default"></i>
                            <span class="nav-link-text">Classrooms</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/allStudents">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">All Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/defaulterStudents">
                            <i class="ni ni-badge text-red"></i>
                            <span class="nav-link-text">Defaulter Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/download-attendance">
                            <i class="ni ni-cloud-download-95 text-green"></i>
                            <span class="nav-link-text">Download attendance</span>
                        </a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/user/absentFilter">
                            <i class="ni ni-calendar-grid-58 text-red"></i>
                            <span class="nav-link-text">Absent Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button type="button" id="sidebarCollapse" class="btn btn-info" style="border-color:#172B4D;background-color:#172B4D;">
        <i class="fas fa-align-left" style="font-size:medium;"></i>
        <span></span>
    </button>
</nav>