{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8 col-md-8 px-10">
                        <h1 class="text-white">Low attending Students</h1>
                        <p class="text-lead text-white">These are all the students with low attendance!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-sm-auto text-center">
                            <h3 class="mb-2">List Of Defaulter Students</h3>
                        </div>
                        <div class="col-right mx-auto mr-sm-2 mb-2">
                            {{#if filterActive}}
                            <a href="/user/sendDefaulterMail/{{activeClassname}}" class="btn btn-sm btn-primary">
                            <i class="fas fa-send text-white mr-2"></i>SendMail</a>
                            {{else}}
                            <a href="/user/sendDefaulterMail/all" class="btn btn-sm btn-primary">
                            <i class="fas fa-send text-white mr-2"></i>Send Mail</a>
                            {{/if}}
                        </div>
                        <div class="col-right mr-auto mr-lg-2 mb-2">
                            <ul class="navbar-nav ml-lg-auto">
                                <li class="nav-item dropdown">
                                    <a class="btn btn-sm btn-primary" href="#" id="navbar-default_dropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-filter text-white mr-2"></i>
                                        Filter
                                    </a>
                                    {{#if filterActive}}
                                    <a href="/user/defaulterStudents" class="btn btn-sm btn-danger">Remove Filter</a>
                                    {{/if}}
                                    <div class="dropdown-menu dropdown-menu-down"
                                        aria-labelledby="navbar-default_dropdown_1">
                                        {{#each classes}}
                                        {{#ifCond this.name '==' activeClassname}}
                                        <div></div>
                                        {{else}}
                                        <a class="dropdown-item"
                                            href="/user/defaulterStudents/filter/{{name}}">{{this.name}}</a>
                                        {{/ifCond}}
                                        {{/each}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Roll no.</th>
                                <th scope="col">Email</th>
                                <th scope="col">Classroom</th>
                                <th scope="col">Lectures</th>
                                <th scope="col">
                                    <div style="padding-left: 50px;">Attendance</div>
                                </th>
                                <th style="padding-left: 0px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each defaulterStudents}}
                            {{#ifCond classCounts '==' 0}}
                            <div></div>
                            {{else}}
                            <tr>
                                <th scope="row">{{studentName}}</th>
                                <td>{{studentRollno}}</td>
                                <td>{{studentEmail}}</td>
                                <td>{{className}}</td>
                                <td>
                                    <div style="padding-left: 15px;">{{studentCounts}} / {{classCounts}}</div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{studentPercent}}%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                    aria-valuenow="{{studentPercent}}" aria-valuemin="0"
                                                    aria-valuemax="100" style="width: {{studentPercent}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td >
                                    {{#if sent}}
                                    <span><i class="ni ni-check-bold"></i></span>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 5vh;"></div>


</div>