{{> header}}



<div class="wrapper">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Take a look at your profile!</h1>
            <p class="text-lead text-white">A short description of your account.</p>
            {{#if success}}
            <div class="alert alert-success fade show " role="alert">
              <span class="alert-icon"><i class="ni ni-like-2"></i></span>
              <span class="alert-text mr-2"><strong>Successfully updated!</strong>
              </span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br>
            {{/if}}

            {{#if msg}}
            <div class="alert alert-danger">
              {{msg}}
            </div>
            {{/if}}
          </div>

        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center" style="margin-top: 300px;">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <button type="button" data-toggle="modal" data-target="#profilePhotoModal">
                  <img src="/assets/uploads/{{this.user.rollnumber}}.jpg" class="profile-image">
                </button>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="/classroom/userClasses" class="btn btn-sm btn-info  mr-4">Classes</a>
                <div style="padding-top: 10px;"></div>
                <a href="/user/logout" class="btn btn-sm btn-default  mr-4">Logout</a>
                <div style="padding-top: 10px;"></div>
                <button type="button" class="btn btn-sm btn-danger mb-1 mr-4" data-toggle="modal"
                  data-target="#deleteProfileModal">
                  Delete
                </button>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  {{#ifCond attendance '==' -1}}
                  <span class="description">Not in any class</span>
                  {{else}}
                  <span class="heading">{{attendance}}%</span>
                  <span class="description">Attendance</span>
                  {{/ifCond}}
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">


            <div><span>
                <h3>{{this.user.name}}<span class="font-weight-light">, {{this.user.class}}
                    <span style="font-size: 16px;">
                      <button type="button"
                        style="background-color: Transparent;border: none;background-repeat:no-repeat;overflow: hidden;outline:none;"
                        data-toggle="modal" data-target="#editProfileModal">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                    </span>
                  </span>
                </h3>

              </span></div>


            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{this.user.rollnumber}}</div>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{this.user.year}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i> BSIT Student</div>
            <div><i class="ni education_hat mr-2"></i>Polytechnic University of the Philippines</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                {{#ifCond attendance '==' -1}}
                <p>Hey {{this.user.name}}! It appears you are not part a of any class.</mark></p>
                {{else}}
                {{#ifCond attendance '<' 75}} <p>Hey {{this.user.name}}! It appears you have {{attendance}}% attendance
                  which is <mark style="background-color:tomato;">BELOW THE 75% LIMIT.</mark></p>
                  {{else}}
                  <p>Hey {{this.user.name}}! It appears you have {{attendance}}% attendance which is <mark
                      style="background-color:lawngreen;">ABOVE THE 75% LIMIT.</p>
                  {{/ifCond}}
                  {{/ifCond}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Profile photo Modal -->
<div class="modal fade" id="profilePhotoModal" tabindex="-1" role="dialog" aria-labelledby="profilePhotoModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="" id="exampleModalLabel">Change your profile photo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header">
        1. The filename must be in the format: 'yourIDnumber.jpg'
        <br>
        2. This profile photo will be used for face recognition so make sure your face is clearly visible.
      </div>
      <div class="modal-body">

        <form method="POST" enctype="multipart/form-data" action="/user/upload">
          <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-cloud-upload-96"></i></span>
              </div>
              <input class="form-control" name="photo" placeholder="photo" type="file">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Edit profile info Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="" id="exampleModalLabel">Change your personal details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form method="POST" action="/user/editUserInfo">

          <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
              </div>
              <input class="form-control" name="name" placeholder="Name" type="text" value="{{this.user.name}}"
                style="{{#if this.user.name}}background-color: rgb(232, 240, 254);{{/if}}">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-books"></i></span>
              </div>
              <input class="form-control" name="rollnumber" placeholder="Roll Number" type="text"
                value="{{this.user.rollnumber}}"
                style="{{#if this.user.rollnumber}}background-color: rgb(232, 240, 254);{{/if}}">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
              </div>
              <select style="{{#if this.user.class}}background-color: rgb(232, 240, 254);{{/if}}" class="form-control"
                name="class">
                <option>{{this.user.class}}</option>
                <option>4-1</option>
                <option>4-2</option>
                <option>4-3</option>
                <option>4-4</option>
                <option>4-5</option>
                <option>4-1N</option>
                <option>4-2N</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <select style="{{#if this.user.year}}background-color: rgb(232, 240, 254);{{/if}}" class="form-control"
                name="year">
                <option>{{this.user.year}}</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
              </select>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="" id="exampleModalLabel">Are you sure you want to delete your account?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="text-center">
          <a href="/user/deleteUser" class="btn btn-danger mt-4">Delete</a>
        </div>


      </div>

    </div>
  </div>
</div>