{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8 col-md-8 px-10">
                        <h1 class="text-white">Student with highest attendance</h1>
                        <p class="text-lead text-white">Check out the top attendance scorers of your classes!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <h3 class="mb-0">View the top attendance scorers of your classes</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Roll no.</th>
                                <th scope="col">Email</th>
                                <th scope="col">Classroom</th>
                                <th scope="col">Lectures</th>
                                <th scope="col">
                                    <div style="padding-left: 50px;">Attendance</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each topAttPerStuPerClass}}
                            {{#ifCond classCounts '==' 0}}
                            <div></div>
                            {{else}}
                            <tr>
                                <th scope="row">{{studentName}}</th>
                                <td>{{studentRollno}}</td>
                                <td>{{studentEmail}}</td>
                                <td>{{className}}</td>
                                <td>
                                    <div style="padding-left: 15px;">{{studentCounts}}  /  {{classCounts}}</div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{studentPercent}}%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar"
                                                    aria-valuenow="{{studentPercent}}" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: {{studentPercent}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>