{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Upload an image</h1>
                        <p class="text-lead text-white">Please upload an image which contains your face clearly for
                            training the face recognition model. The name of the image must be the same as your ID Number.</p>
                        <p style="color: black;">Note: The uploaded picture will also be used as your default profile
                            picture</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Fill in your details.
                                <br>
                                Image name format should be 'yourIDnumber'.jpg
                            </small>
                            {{#if hasErrors}}
                            <div class="alert alert-danger">
                                {{# each messages}}
                                <p>{{this}}</p>
                                {{/each}}
                            </div>
                            {{/if}}
                        </div>
                        <form method="POST" enctype="multipart/form-data" action="/user/upload">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-cloud-upload-96"></i></span>
                                    </div>
                                    <input class="form-control" name="photo" placeholder="photo" type="file">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Upload Photo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>