{{> header}}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
        <div class="container">
            <div class="header-body text-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8 col-md-8 px-10">
                        <h1 class="text-white">Classes with low attendance</h1>
                        <h5 class="text-lead text-white">
                            You have little to no attendance in these classes. Please attend these classes more!
                        </h5>
                    </d
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 ">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <h4 class="mb-0">View The List Of Classes in which you have <mark
                                    style="background-color:tomato;">BELOW 75%</mark>attendance</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                <th scope="col">Classroom</th>
                                <th scope="col">Lectures</th>
                                <th scope="col">
                                    <div style="padding-left: 50px;">Attendance</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each defaulterClasses}}
                            {{#ifCond classCounts '==' 0}}
                            <div></div>
                            {{else}}
                            <tr>
                                <td></td>
                                <th scope="row">{{className}}</th>
                                <td>
                                    <div style="padding-left: 25px;">{{studentCounts}} / {{classCounts}}</div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{studentPercent}}%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                    aria-valuenow="{{studentPercent}}" aria-valuemin="0"
                                                    aria-valuemax="100" style="width: {{studentPercent}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh;"></div>


</div>