{{> header_index}}


<div class="wrapper">
    <div class="overlay"></div>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center custom-padding">
                    <div class="col-xl-7 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Welcome to        Face-Trace</h1>
                        <p class="text-lead text-white">Let's take a tour of our attendance portal.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <div class="section features-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="info info-horizontal info-hover-primary">
                        <div class="description pl-4">
                            <h3 class="text-white" >For Students</h3>
                            <p class="text-lead text-white">Taking attendance made easier. Register and upload your photo to have a hassle free experience in recording your attendance.</p>
                        </div>
                    </div>

                    <div class="info info-horizontal info-hover-primary mt-5">
                        <div class="description pl-4">
                            <h3 class="text-white">For Teachers</h3>
                            <p class="text-lead text-white">Detailed analytics for you. Make classrooms, add students and take their attendance for detailed reports.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-10 mx-md-auto">
                    <img class="ml-lg-5" src="/assets/img/ill.png" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="section features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <span class="badge badge-primary badge-pill mb-3">Insight</span>
                    <h3 class="display-3 text-white">In Depth Attendance Analytics</h3>
                    <p class="lead" style="color: white">The time is now for the next step. We bring you the future of attendance recording.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-settings-gear-65"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-primary">Attendance Management</h6>
                        <p class="description opacity-8 text-white"> Experience seamless attendance tracking with our secure and user-friendly system.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                            <i class="ni ni-atom"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-success">Analyze Attendance</h6>
                        <p class="description opacity-8 text-white"> Get all the statistics and in depth analysis of attendance for teachers as well students.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                            <i class="ni ni-world"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-warning">Safety First</h6>
                        <p class="description opacity-8 text-white"> Your authentication is secure and encrypted to avoid unauthorised personnel from logging in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br /><br />
</div>